@font-face {
  font-family: ClashDisplayVariable;
  src: url('./assets/ClashDisplay-Variable.ttf');
}

@font-face {
  font-family: Switzer;
  src: url('./assets/Switzer-Regular.ttf');
}

.leftDiv{
  display: flex;
  width: 50%;
  height: 100%;
  background-color: black;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px -5px #000;
}

.leftDivM{
  display: flex;
  width: 100%;
  height: 30vh;
  background-color: black;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px -5px #000;
}

/* .black{
  width:100;
  height:100%;
  background-color: black;
  opacity: 75%;
  position:fixed;
} */

.image{
  width:35%;
  height:35%;
  object-fit: contain;
  position: absolute;
}

.bgvideo{
  width:100%;
  height:100%;
  object-fit: cover;
  filter: brightness(50%);
}

.rightDiv{
  display: flex;
  width: 50%;
  height: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px -5px #333;
  flex-flow: column wrap;
}

.rightDivM{
  display: flex;
  width: 100%;
  height: 150%;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  /* flex-flow: column wrap; */
}

.containerM{
  display: flex;
  width: 100vw;
  height: 120vh;
  flex-flow: column wrap;
}



.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: Switzer;
  width: 100%;
  border: 0;
  border-bottom: 0.35vh solid black;
  outline: 0;
  font-size: 1.1rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 100%;
  color: black;
  font-family: Switzer;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: primary;   
  }
  border-image: linear-gradient(to right, primary,secondary);
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.padding{
  height:5vh;
}
/* demo */

.title{
  font-family: ClashDisplayVariable;
  font-weight: bold;
  font-size: 200%;
}

.submit{
  width:50%;
  height:7.5%;
  background-color: black;
  border: 0.33vh solid black;
  color: white;
  font-family: ClashDisplayVariable;
  letter-spacing: 0.15vh;
  transition: 0.2s;
}

.submit:hover{
  color: black;
  background-color: white;
  border-color: black;
  transition: 0.2s;
}


#thanks{
  display: flex;
  width: 50vw;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px -5px #333;
  flex-flow: column wrap;
}

#thanksM{
  display: flex;
  width: 100vw;
  height: 50vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 0 10px -5px #333;
  flex-flow: column wrap;
}

.hidden{
  display: none !important;
}

.text{
  font-family: Switzer;
  font-size: 3vh;
}
